body {
	margin: 0px;
}

#viewer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* mandelbrot */
#mandelbrot {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#mandelbrot .wrapper {
	position: absolute;
}

#mandelbrot .wrapper img, #mandelbrot .wrapper div {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#mandelbrot .controls {
	position: absolute;
	left: 5px;
	top: 5px;
}

#mandelbrot .controls > div {
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-image: url(../img/zoom.png);
}

#mandelbrot .controls .minus {
	left: 0px;
	top: 0px;
	background-position: 32px 0px;
}

#mandelbrot .controls .minus:hover {
	background-position: 32px 32px;
}

#mandelbrot .controls .plus {
	left: 20px;
	top: 0px;
	background-position: 0px 0px;
}

#mandelbrot .controls .plus:hover {
	background-position: 0px 32px;
}
