body {
	margin: 0px;
}

#mandelbrot {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#mandelbrot * {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#mandelbrot .tile {
	opacity: 0;
	-webkit-transform-origin: top left;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.25s;
}

#mandelbrot .controls {
	left: 5px;
	top: 5px;
}

#mandelbrot .controls .minus {
	
}

#mandelbrot .controls div {
	width: 32px;
	height: 32px;
	background-image: url(../img/zoom.png);
	background-position: 0px 0px;
}

#mandelbrot .controls * div {
	width: 16px;
	height: 16px;
	top: 8px;
	left: 8px;
	z-index: 1;
	cursor: pointer;
}

#mandelbrot .controls .minus {
	left: 0px;
}

#mandelbrot .controls .plus {
	left: 20px;
}

#mandelbrot .controls .minus div {
	background-position: -8px -40px;
}

#mandelbrot .controls .plus div {
	background-position: -40px -40px;
}

#mandelbrot .controls .minus :hover {
	background-position: -8px -72px;
}

#mandelbrot .controls .plus :hover {
	background-position: -40px -72px;
}
