body {
	margin: 0px;
}

#mandelbrot {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#mandelbrot * {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#mandelbrot .tile {
	opacity: 0;
	-webkit-transform-origin: top left;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .4s;
}

#mandelbrot .controls {
	left: 5px;
	top: 5px;
}

#mandelbrot .controls * {
	width: 16px;
	height: 16px;
	border-width: 8px;
	-webkit-border-image: url(../img/button-shadow.png) 8 8 8 8 repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

#mandelbrot .controls .minus {
	left: 0px;
}

#mandelbrot .controls .plus {
	left: 20px;
}

#mandelbrot .controls * * {
	width: 16px;
	height: 16px;
	border-width: 0px;
	background-image: url(../img/buttons.png);
	background-position: 0px 0px;
	z-index: 1;
	cursor: pointer;
}

#mandelbrot .controls * {
	background-position-y: 0px;
}

#mandelbrot .controls * :hover {
	background-position-y: -16px;
}

#mandelbrot .controls .minus * {
	background-position-x: 0px;
}

#mandelbrot .controls .plus * {
	background-position-x: -16px;
}
