* { border-style: none; }
body { margin: 0px; }
img { position: absolute; padding: 0px; margin: 0px; }
div { position: absolute; }
div:hover {
	background-color: rgba(0, 0, 0, .2);
	cursor: pointer;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin: -2px;
}

.big, .plac { width: 256px; height: 256px; }
.big.c1, .plac.c1 { left: 0px; }
.big.c2, .plac.c2 { left: 256px; }
.big.r1, .plac.r1 { top: 0px; }
.big.r2, .plac.r2 { top: 256px; }

.small, .zoom { width: 128px; height: 128px; }
.small.c1 { left: 0px; }
.small.c2 { left: 128px; }
.small.c3 { left: 256px; }
.small.c4 { left: 384px; }
.small.r1 { top: 0px; }
.small.r2 { top: 128px; }
.small.r3 { top: 256px; }
.small.r4 { top: 384px; }

.zoom.c1 { left: 64px; }
.zoom.c2 { left: 192px; }
.zoom.c3 { left: 320px; }
.zoom.r1 { top: 64px; }
.zoom.r2 { top: 192px; }
.zoom.r3 { top: 320px; }

.pan.c1 { left: 0px; }
.pan.c2 { left: 64px; }
.pan.c3 { left: 448px; }
.pan.r1 { top: 0px; }
.pan.r2 { top: 64px; }
.pan.r3 { top: 448px; }

.pan { width: 384px; height: 384px; }
.pan.left, .pan.right { width: 64px; }
.pan.up, .pan.down { height: 64px; }

.link { color: blue; text-decoration: underline; }
